name: Main

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    tags: ["v*.*.*"]

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Fmt & Lint
        run: |
          deno fmt --check
          deno lint

      - name: Build
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          mkdir -p dist
          deno compile -A \
            --target x86_64-unknown-linux-gnu \
            --output dist/unibear-linux_x86_64-unknown-linux-gnu \
            src/main.ts
          deno compile -A \
            --target aarch64-unknown-linux-gnu \
            --output dist/unibear-linux_aarch64-unknown-linux-gnu \
            src/main.ts
          deno compile -A \
            --target x86_64-apple-darwin \
            --output dist/unibear-darwin_x86_64-apple-darwin \
            src/main.ts
          deno compile -A \
            --target aarch64-apple-darwin \
            --output dist/unibear-darwin_aarch64-apple-darwin \
            src/main.ts
          deno compile -A \
            --target x86_64-pc-windows-msvc \
            --output dist/unibear-windows_x86_64-pc-windows-msvc.exe \
            src/main.ts

      - name: Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
